<!-- @format -->

<template>
  <div>
    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000;"
      fade
      indicators
    >
      <b-carousel-slide
        caption="First slide"
        :img-src="require('../assets/images/1.jpg')"
      ></b-carousel-slide>
      <b-carousel-slide
        caption="First slide"
        :img-src="require('../assets/images/2.jpg')"
      ></b-carousel-slide>
      <b-carousel-slide
        caption="First slide"
        :img-src="require('../assets/images/3.jpg')"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "Carousel",
};
</script>

<style scoped>
#imageca {
  height: 85vh !important;
}
</style>
